flows.json
[
    {
        "id": "71b4742a789c8e06",
        "type": "tab",
        "label": "Smart Street Light Dashboard",
        "disabled": false,
        "info": "ESP32 Smart Street Light MQTT Dashboard with beautiful template-based UI"
    },
    {
        "id": "a0db4085e11ae7f3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "921aa51b2a07ab4c",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d7fd9e5c3aa0833",
        "type": "ui_tab",
        "name": "Street Light Monitor",
        "icon": "fa-lightbulb-o",
        "order": 1
    },
    {
        "id": "1ac625e536cc45be",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "7d7fd9e5c3aa0833",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "d55cd6e0ee3485fe",
        "type": "mqtt in",
        "z": "71b4742a789c8e06",
        "name": "MQTT Subscribe",
        "topic": "streetlight/data",
        "qos": "0",
        "datatype": "json",
        "broker": "921aa51b2a07ab4c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "169b785bc2c60d8b"
            ]
        ]
    },
    {
        "id": "169b785bc2c60d8b",
        "type": "json",
        "z": "71b4742a789c8e06",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "3b2cd6b525ef32e3"
            ]
        ]
    },
    {
        "id": "3b2cd6b525ef32e3",
        "type": "function",
        "z": "71b4742a789c8e06",
        "name": "Store & Enrich Data",
        "func": "var d = msg.payload;\n\n/* ===== CURRENT (Already in mA from ESP32) ===== */\nvar mA = parseFloat(d.AMP_mA || 0);\n\nif (isNaN(mA)) {\n    mA = 0;\n}\n\n// Convert to Amps\nvar amps = mA / 1000;\n\n// Keep 2 decimal places\nd.AMP_A = amps.toFixed(2);\n\n\n/* ===== COMPUTE STATES ===== */\nd.isNight = d.LDR > 1800;\nd.isFog = d.HUM > 65;\n\n/* ===== MOTION ===== */\nd.motion1Detected = d.MOT1 == 1;\nd.motion2Detected = d.MOT2 == 1;\n\n/* ===== TIMESTAMP ===== */\nd.timestamp = new Date().toLocaleTimeString('en-US', { hour12: false });\n\nd.ldrPercent = ((d.LDR / 4095) * 100).toFixed(1);\nd.brt1Percent = ((d.BRT1 / 255) * 100).toFixed(0);\nd.brt2Percent = ((d.BRT2 / 255) * 100).toFixed(0);\n\n/* ===== STORE HISTORY (LAST 30 VALUES) ===== */\nvar hist = flow.get('history') || [];\n\nhist.push({\n  time: d.timestamp,\n  TEMP: d.TEMP || 0,\n  HUM: d.HUM || 0,\n  AMP_mA: parseFloat(d.AMP_mA)\n});\n\nif (hist.length > 30) {\n  hist.shift();\n}\n\nflow.set('history', hist);\nd.history = hist;\n\n/* ===== SAVE DATA + UPDATE TIME ===== */\nflow.set('sensorData', d);\nflow.set(\"lastSeen\", Date.now());\n\nmsg.payload = d;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "248386d419784a3c"
            ]
        ]
    },
    {
        "id": "248386d419784a3c",
        "type": "ui_template",
        "z": "71b4742a789c8e06",
        "group": "1ac625e536cc45be",
        "name": "Full Dashboard UI",
        "order": 1,
        "width": "24",
        "height": "38",
        "format": "<style>\n  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&family=Inter:wght@300;400;500;600;700&display=swap');\n\n  .sl-dashboard {\n    font-family: 'Inter', sans-serif;\n    background: #171c28;\n    color: #c8d6e5;\n    padding: 20px;\n    min-height: 100vh;\n    background-image:\n      linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),\n      linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);\n    background-size: 40px 40px;\n  }\n\n  .sl-header {\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding-bottom: 16px;\n    border-bottom: 1px solid #252d3a;\n    margin-bottom: 20px;\n  }\n\n  .sl-header h1 {\n    font-size: 20px;\n    font-weight: 700;\n    color: #e8edf3;\n    margin: 0;\n    display: flex;\n    align-items: center;\n    gap: 10px;\n  }\n\n  /* Curved White Title Box */\n  .eco-title {\n    background: #ffffff;\n    color: #111;\n    padding: 6px 18px;\n    border-radius: 20px;\n    display: inline-flex;\n    align-items: center;\n    gap: 10px;\n    font-weight: 700;\n  }\n\n  .sl-badges {\n    display: flex;\n    gap: 8px;\n  }\n\n  .sl-badge {\n    display: flex;\n    align-items: center;\n    gap: 6px;\n    padding: 4px 12px;\n    border-radius: 20px;\n    font-size: 12px;\n    font-weight: 500;\n    background: #1e2636;\n    border: 1px solid #2a3444;\n  }\n\n  .sl-badge-fog {\n    background: rgba(0, 200, 200, 0.1);\n    border-color: rgba(0, 200, 200, 0.3);\n    color: #00c8c8;\n  }\n\n  .sl-dot {\n    width: 8px;\n    height: 8px;\n    border-radius: 50%;\n    animation: sl-pulse 2s ease-in-out infinite;\n  }\n\n  .sl-dot-green {\n    background: #2ed573;\n    box-shadow: 0 0 8px rgba(46, 213, 115, 0.6);\n  }\n\n  .sl-dot-red {\n    background: #ff4757;\n    box-shadow: 0 0 8px rgba(255, 71, 87, 0.4);\n  }\n\n  @keyframes sl-pulse {\n\n    0%,\n    100% {\n      opacity: 1;\n    }\n\n    50% {\n      opacity: 0.5;\n    }\n  }\n\n  .sl-grid {\n    display: grid;\n    grid-template-columns: repeat(4, 1fr);\n    gap: 16px;\n    margin-bottom: 16px;\n  }\n\n  .sl-grid-2 {\n    display: grid;\n    grid-template-columns: repeat(2, 1fr);\n    gap: 16px;\n    margin-bottom: 16px;\n  }\n\n  .sl-card {\n    background: #1e2636;\n    border-radius: 12px;\n    border: 1px solid #2a3444;\n    padding: 20px;\n    position: relative;\n    overflow: hidden;\n    transition: all 0.3s ease;\n  }\n\n  .sl-card:hover {\n    border-color: rgba(0, 200, 200, 0.4);\n    box-shadow: 0 0 20px rgba(0, 200, 200, 0.15);\n  }\n\n  .sl-card::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: 0;\n    right: 0;\n    height: 2px;\n    background: linear-gradient(90deg, transparent, #00c8c8, transparent);\n    opacity: 0.6;\n  }\n\n  .sl-card-amber::before {\n    background: linear-gradient(90deg, transparent, #e8a838, transparent);\n  }\n\n  .sl-card-green::before {\n    background: linear-gradient(90deg, transparent, #2ed573, transparent);\n  }\n\n  .sl-card-red::before {\n    background: linear-gradient(90deg, transparent, #ff4757, transparent);\n  }\n\n  .sl-card-title {\n    font-size: 11px;\n    font-weight: 600;\n    text-transform: uppercase;\n    letter-spacing: 1.5px;\n    color: #7f8c9b;\n    margin-bottom: 16px;\n    display: flex;\n    align-items: center;\n    gap: 8px;\n  }\n\n  .sl-value {\n    font-family: 'JetBrains Mono', monospace;\n    font-size: 36px;\n    font-weight: 700;\n    text-align: center;\n    background: linear-gradient(135deg, #00c8c8, #7dd8d8);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n    background-clip: text;\n  }\n\n  .sl-value-amber {\n    background: linear-gradient(135deg, #e8a838, #f0c86e);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n    background-clip: text;\n  }\n\n  .sl-value-green {\n    background: linear-gradient(135deg, #2ed573, #7bed9f);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n    background-clip: text;\n  }\n\n  .sl-unit {\n    font-size: 12px;\n    color: #7f8c9b;\n    text-align: center;\n    margin-top: 4px;\n  }\n\n  .sl-gauge-wrap {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n  }\n\n  .sl-gauge-svg {\n    width: 120px;\n    height: 120px;\n    transform: rotate(-90deg);\n    filter: drop-shadow(0 0 12px rgba(0, 200, 200, 0.3));\n  }\n\n  .sl-gauge-bg {\n    fill: none;\n    stroke: #252d3a;\n    stroke-width: 6;\n  }\n\n  .sl-gauge-fill {\n    fill: none;\n    stroke: #00c8c8;\n    stroke-width: 6;\n    stroke-linecap: round;\n    transition: stroke-dashoffset 0.7s ease;\n  }\n\n  .sl-gauge-fill-amber {\n    stroke: #e8a838;\n  }\n\n  .sl-gauge-fill-green {\n    stroke: #2ed573;\n  }\n\n  .sl-gauge-center {\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    transform: translate(-50%, -50%);\n    text-align: center;\n  }\n\n  .sl-progress {\n    height: 6px;\n    background: #252d3a;\n    border-radius: 3px;\n    overflow: hidden;\n    margin-top: 8px;\n  }\n\n  .sl-progress-fill {\n    height: 100%;\n    border-radius: 3px;\n    transition: width 0.5s ease;\n    background: #e8a838;\n  }\n\n  .sl-progress-fill-cyan {\n    background: #00c8c8;\n  }\n\n  .sl-pole-light {\n    width: 70px;\n    height: 70px;\n    border-radius: 50%;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    margin: 0 auto 12px;\n    font-family: 'JetBrains Mono', monospace;\n    font-size: 13px;\n    font-weight: 700;\n    color: #171c28;\n    transition: all 0.5s ease;\n  }\n\n  .sl-pole-on {\n    background: radial-gradient(circle, #ffffff 10%, #ffe066 40%, #ffcc00 70%);\n    box-shadow: 0 0 30px rgba(232, 168, 56, 0.6), 0 0 60px rgba(232, 168, 56, 0.3);\n  }\n\n  .sl-pole-dim {\n    background: radial-gradient(circle, #8a7030, #5a4820);\n    box-shadow: 0 0 10px rgba(232, 168, 56, 0.2);\n  }\n\n  .sl-pole-off {\n    background: #252d3a;\n    color: #7f8c9b;\n  }\n\n  .sl-pole-fog {\n    background: radial-gradient(circle, #7dd8d8, #00c8c8);\n    box-shadow: 0 0 30px rgba(0, 200, 200, 0.6), 0 0 60px rgba(0, 200, 200, 0.3);\n  }\n\n  .sl-row {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    font-size: 12px;\n    padding: 4px 0;\n  }\n\n  .sl-row-label {\n    color: #7f8c9b;\n  }\n\n  .sl-row-value {\n    font-family: 'JetBrains Mono', monospace;\n    color: #e8edf3;\n  }\n\n  .sl-motion-active {\n    color: #2ed573;\n  }\n\n  .sl-motion-clear {\n    color: #7f8c9b;\n  }\n\n  /* Chart Styles */\n  .sl-chart-container {\n    position: relative;\n    width: 100%;\n    height: 220px;\n    margin-top: 8px;\n  }\n\n  .sl-chart-canvas {\n    width: 100%;\n    height: 100%;\n  }\n\n  .sl-chart-legend {\n    display: flex;\n    justify-content: center;\n    gap: 24px;\n    margin-top: 12px;\n  }\n\n  .sl-legend-item {\n    display: flex;\n    align-items: center;\n    gap: 6px;\n    font-size: 11px;\n    color: #7f8c9b;\n  }\n\n  .sl-legend-dot {\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n  }\n\n  @media (max-width: 768px) {\n    .sl-grid {\n      grid-template-columns: repeat(2, 1fr);\n    }\n  }\n\n  /* Thermometer Styles - Matches Card Size */\n\n  .thermo-container {\n    position: relative;\n    width: 40px;\n    height: 120px;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n  }\n\n  .thermo-tube {\n    width: 18px;\n    height: 100px;\n    background: #252d3a;\n    border-radius: 20px;\n    position: relative;\n    overflow: hidden;\n    border: 2px solid #111;\n  }\n\n  .thermo-fill {\n    position: absolute;\n    bottom: 0;\n    width: 100%;\n    background: linear-gradient(to top, #ff3b30, #ff8c42);\n    transition: height 0.6s ease;\n    border-radius: 20px 20px 0 0;\n  }\n\n  .thermo-bulb {\n    width: 38px;\n    height: 38px;\n    background: radial-gradient(circle, #ff8c42 30%, #ff3b30 70%);\n    border-radius: 50%;\n    margin-top: -10px;\n    border: 2px solid #111;\n    box-shadow: 0 0 20px rgba(255, 59, 48, 0.5);\n  }\n\n  /* Water Droplet Animation */\n\n  .drop-container {\n    width: 90px;\n    height: 110px;\n    position: relative;\n  }\n\n  .drop-mask {\n    width: 100%;\n    height: 100%;\n    background: #252d3a;\n    clip-path: path(\"M45 0 C65 35, 90 55, 90 75 C90 100, 70 110, 45 110 C20 110, 0 100, 0 75 C0 55, 25 35, 45 0 Z\");\n    position: relative;\n    overflow: hidden;\n    border: 2px solid #111;\n  }\n\n  .drop-fill {\n    position: absolute;\n    bottom: 0;\n    width: 100%;\n    background: linear-gradient(to top, #0099cc, #7dd8d8);\n    transition: height 0.6s ease;\n  }\n\n  /* New layout for stacked poles + fog panel */\n  .sl-pole-layout {\n    display: grid;\n    grid-template-columns: 2fr 1fr;\n    gap: 16px;\n    margin-bottom: 16px;\n  }\n\n  .sl-pole-stack {\n    display: flex;\n    flex-direction: column;\n    gap: 16px;\n  }\n\n  .sl-fog-panel {\n    border: 1px solid #2a3444;\n    border-radius: 12px;\n    padding: 20px;\n  }\n\n  .fog-center {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    /* horizontal center */\n    justify-content: center;\n    /* vertical center */\n    height: 200px;\n    /* controls spacing */\n    text-align: center;\n  }\n\n\n\n  .fog-dot {\n    width: 26px;\n    height: 26px;\n    border-radius: 50%;\n    margin-bottom: 18px;\n    animation: sl-pulse 1.8s infinite ease-in-out;\n  }\n\n  .fog-active {\n    background: #ff4757;\n    box-shadow: 0 0 15px rgba(255, 71, 87, 0.8);\n  }\n\n  .fog-clear {\n    background: #2ed573;\n    box-shadow: 0 0 15px rgba(46, 213, 115, 0.8);\n  }\n\n  .fog-status {\n    font-size: 18px;\n    font-weight: 600;\n    margin-bottom: 6px;\n  }\n\n  .fog-subtext {\n    font-size: 12px;\n    color: #7f8c9b;\n  }\n\n  .sl-light-card {\n    display: flex;\n    flex-direction: column;\n    min-height: 260px;\n    /* important */\n  }\n\n  .sl-light-center {\n    flex: 1;\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    align-items: center;\n  }\n\n  .light-status-badge {\n    margin-top: -8px;\n    margin-bottom: 14px;\n    padding: 6px 12px;\n    border-radius: 16px;\n    font-size: 12px;\n    font-weight: 600;\n    display: inline-block;\n    transition: all 0.3s ease;\n  }\n\n  .light-day {\n    background: rgba(255, 184, 0, 0.15);\n    color: #f5c14d;\n    border: 1px solid rgba(255, 184, 0, 0.3);\n  }\n\n  .light-night {\n    background: rgba(120, 160, 255, 0.15);\n    color: #7da8ff;\n    border: 1px solid rgba(120, 160, 255, 0.3);\n  }\n\n  /* ================= MOBILE TRANSFORMATION ================= */\n  @media (max-width: 768px) {\n  /* 1. KILL THE SCROLL: Force the dashboard to fit the screen */\n  html, body, .nr-dashboard-container {\n  overflow-x: hidden !important;\n  width: 100vw !important;\n  margin: 0 !important;\n  padding: 0 !important;\n  }\n  \n  .sl-dashboard {\n  padding: 10px !important;\n  width: 100% !important;\n  max-width: 100vw !important; /* Prevents leaking past screen edge */\n  box-sizing: border-box !important;\n  overflow-x: hidden;\n  }\n  \n  /* 2. THE HEADER FIX: Ensure the blue bar doesn't push the width */\n  .sl-header {\n  width: 100% !important;\n  box-sizing: border-box !important;\n  flex-direction: row; /* Keep it horizontal but smaller */\n  justify-content: space-between;\n  padding: 10px !important;\n  }\n  \n  .eco-title {\n  font-size: 14px !important;\n  white-space: nowrap; /* Keep it on one line */\n  padding: 4px 10px !important;\n  }\n  \n  /* 3. GRID FIX: 2x2 Layout with 'Safe Shrinking' */\n  .sl-grid,\n  .sl-grid-2,\n  .sl-pole-layout,\n  .sl-pole-stack {\n  display: grid !important;\n  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;\n  gap: 8px !important;\n  width: 100% !important;\n  }\n  \n  /* 4. CARD FIX: Force cards to stay inside the grid columns */\n  .sl-card {\n  width: auto !important; /* Let the grid define the width */\n  max-width: 100% !important;\n  padding: 12px 8px !important;\n  margin: 0 !important;\n  box-sizing: border-box !important;\n  min-height: 140px !important; /* Ensures cards stay consistent heights */\n  }\n  \n  /* 5. FULL WIDTH OVERRIDES (For Charts) */\n  .sl-card[style*=\"margin-bottom:16px\"] {\n  grid-column: span 2 !important;\n  }\n  \n  /* 6. SCALE DOWN VISUALS: Prevent SVGs from bloating the cards */\n  .sl-gauge-svg,\n  .drop-svg-wrapper svg {\n  width: 60px !important;\n  height: 60px !important;\n  }\n  \n  .sl-value {\n  font-size: 18px !important;\n  }\n  \n  .thermo-container {\n  transform: scale(0.65);\n  height: 80px !important;\n  }\n  }\n</style>\n\n<div class=\"sl-dashboard\" ng-init=\"initChart()\">\n  <div class=\"sl-header\">\n    <h1 class=\"eco-title\">💡 Eco-Glow Control Panel</h1>\n    <div class=\"sl-badges\">\n      <div class=\"sl-badge sl-badge-fog\" ng-if=\"msg.payload.isFog\">🌫️ Fog Alert</div>\n    </div>\n  </div>\n\n  <!-- ===== TOP ROW (4 CARDS) ===== -->\n  <div class=\"sl-grid\">\n\n    <!-- Temperature -->\n    <div class=\"sl-card sl-card-amber\">\n      <div class=\"sl-card-title\">🌡️ Temperature</div>\n\n      <div style=\"display:flex;flex-direction:column;align-items:center;justify-content:center;height:180px\">\n\n        <div class=\"thermo-container\">\n\n          <div class=\"thermo-tube\">\n            <div class=\"thermo-fill\" ng-style=\"{\n               height: ((msg.payload.TEMP || 0) / 50 * 100) + '%'\n             }\">\n            </div>\n          </div>\n\n          <div class=\"thermo-bulb\"></div>\n        </div>\n\n        <div class=\"sl-value sl-value-amber\" style=\"font-size:22px;margin-top:12px\">\n          {{msg.payload.TEMP || 0}}\n        </div>\n        <div class=\"sl-unit\">°C</div>\n\n        <div class=\"sl-unit\" style=\"margin-top:8px\"></div>\n      </div>\n    </div>\n\n    <!-- Humidity -->\n    <div class=\"sl-card\">\n      <div class=\"sl-card-title\">💧 Humidity</div>\n\n      <div style=\"display:flex;flex-direction:column;align-items:center;justify-content:center;height:180px\">\n\n        <div class=\"drop-svg-wrapper\">\n\n          <svg width=\"100\" height=\"120\" viewBox=\"0 0 100 120\">\n\n            <!-- Drop Outline -->\n            <path d=\"M50 5\n                 C75 40, 95 60, 95 85\n                 C95 105, 75 115, 50 115\n                 C25 115, 5 105, 5 85\n                 C5 60, 25 40, 50 5 Z\" fill=\"#252d3a\" stroke=\"#111\" stroke-width=\"2\" />\n\n            <!-- Fill Clip Path -->\n            <defs>\n              <clipPath id=\"dropClip\">\n                <path d=\"M50 5\n                     C75 40, 95 60, 95 85\n                     C95 105, 75 115, 50 115\n                     C25 115, 5 105, 5 85\n                     C5 60, 25 40, 50 5 Z\" />\n              </clipPath>\n            </defs>\n\n            <!-- Fill Rectangle -->\n            <rect clip-path=\"url(#dropClip)\" x=\"0\" ng-attr-y=\"{{120 - (msg.payload.HUM || 0) * 1.2}}\" width=\"100\"\n              ng-attr-height=\"{{(msg.payload.HUM || 0) * 1.2}}\" fill=\"url(#dropGradient)\"\n              style=\"transition: all 0.6s ease;\">\n            </rect>\n\n            <!-- Gradient -->\n            <defs>\n              <linearGradient id=\"dropGradient\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\">\n                <stop offset=\"0%\" stop-color=\"#7dd8d8\" />\n                <stop offset=\"100%\" stop-color=\"#00c8c8\" />\n              </linearGradient>\n            </defs>\n\n          </svg>\n\n        </div>\n\n        <div class=\"sl-value\" style=\"font-size:22px;margin-top:12px\">\n          {{msg.payload.HUM || 0}}\n        </div>\n        <div class=\"sl-unit\">%</div>\n\n        <div class=\"sl-unit\" style=\"margin-top:8px\">Relative Humidity</div>\n      </div>\n    </div>\n\n    <!-- Fog Alert -->\n    <div class=\"sl-card sl-fog-panel\">\n\n      <div class=\"sl-card-title\">\n        🌫️ FOG ALERT\n      </div>\n\n      <!-- NEW CENTER WRAPPER -->\n      <div class=\"fog-center\">\n\n        <div class=\"fog-dot\" ng-class=\"{\n             'fog-active': msg.payload.isFog,\n             'fog-clear': !msg.payload.isFog\n           }\">\n        </div>\n\n        <div class=\"fog-status\">\n          {{msg.payload.isFog ? 'Fog Detected' : 'Clear'}}\n        </div>\n\n        <div class=\"fog-subtext\" ng-if=\"msg.payload.isFog\">\n          Pole safety lights activated\n        </div>\n\n      </div>\n\n    </div>\n\n    <!-- Current -->\n    <div class=\"sl-card sl-card-green\">\n      <div class=\"sl-card-title\">⚡ Current Draw</div>\n    \n      <div class=\"sl-gauge-wrap\">\n        <div style=\"position:relative\">\n    \n          <svg class=\"sl-gauge-svg\" viewBox=\"0 0 100 100\">\n            <circle class=\"sl-gauge-bg\" cx=\"50\" cy=\"50\" r=\"45\" />\n            <!-- Max = 5A -->\n            <circle class=\"sl-gauge-fill sl-gauge-fill-green\" cx=\"50\" cy=\"50\" r=\"45\" stroke-dasharray=\"282.74\"\n              stroke-dashoffset=\"{{282.74 - ((msg.payload.AMP_mA / 1000) / 5) * 282.74}}\" />\n          </svg>\n          <div class=\"sl-gauge-center\">\n            <!-- Convert mA to A directly in UI -->\n            <div class=\"sl-value sl-value-green\" style=\"font-size:22px\">\n              {{ (msg.payload.AMP_mA / 1000) | number:2 }}\n            </div>\n            <div class=\"sl-unit\">A</div>\n          </div>\n        </div>\n        <div class=\"sl-unit\" style=\"margin-top:8px\">ACS712 Sensor</div>\n      </div>\n    </div>\n\n  </div>\n\n\n  <!-- ===== SECOND ROW (POLES + LIGHT LEVEL) ===== -->\n  <div class=\"sl-pole-layout\">\n\n    <div class=\"sl-pole-stack\">\n\n      <!-- Pole 1 -->\n      <div class=\"sl-card\" ng-class=\"{'sl-card-amber': msg.payload.BRT1 > 0}\">\n        <div class=\"sl-card-title\">🏮 Street Light — Pole 1</div>\n\n        <div class=\"sl-pole-light\" ng-class=\"{\n             'sl-pole-on': msg.payload.BRT1 >= 200,\n             'sl-pole-dim': msg.payload.BRT1 > 0 && msg.payload.BRT1 < 200,\n             'sl-pole-off': msg.payload.BRT1 == 0\n           }\">\n          {{msg.payload.brt1Percent}}%\n        </div>\n\n        <div class=\"sl-row\">\n          <span class=\"sl-row-label\">Brightness</span>\n          <span class=\"sl-row-value\">{{msg.payload.BRT1}} / 255</span>\n        </div>\n\n        <div class=\"sl-progress\">\n          <div class=\"sl-progress-fill\" style=\"width:{{msg.payload.brt1Percent}}%\">\n          </div>\n        </div>\n\n        <div class=\"sl-row\">\n          <span class=\"sl-row-label\">Motion</span>\n          <span>\n          <span class=\"sl-dot\"\n            ng-class=\"{\n              'sl-dot-red': msg.payload.motion1Detected,\n              'sl-dot-green': !msg.payload.motion1Detected\n            }\"\n            style=\"display:inline-block;margin-right:6px\">\n          </span>\n          {{msg.payload.motion1Detected ? 'Clear' : 'Detected'}}\n          </span>\n        </div>\n      </div>\n\n      <!-- Pole 2 -->\n      <div class=\"sl-card\" ng-class=\"{'sl-card-amber': msg.payload.BRT2 > 0}\">\n        <div class=\"sl-card-title\">🏮 Street Light — Pole 2</div>\n\n        <div class=\"sl-pole-light\" ng-class=\"{\n             'sl-pole-on': msg.payload.BRT2 >= 200,\n             'sl-pole-dim': msg.payload.BRT2 > 0 && msg.payload.BRT2 < 200,\n             'sl-pole-off': msg.payload.BRT2 == 0\n           }\">\n          {{msg.payload.brt2Percent}}%\n        </div>\n\n        <div class=\"sl-row\">\n          <span class=\"sl-row-label\">Brightness</span>\n          <span class=\"sl-row-value\">{{msg.payload.BRT2}} / 255</span>\n        </div>\n\n        <div class=\"sl-progress\">\n          <div class=\"sl-progress-fill\" style=\"width:{{msg.payload.brt2Percent}}%\">\n          </div>\n        </div>\n\n        <div class=\"sl-row\">\n          <span class=\"sl-row-label\">Motion</span>\n          <span>\n          <span class=\"sl-dot\"\n            ng-class=\"{\n              'sl-dot-red': msg.payload.motion2Detected,\n              'sl-dot-green': !msg.payload.motion2Detected\n            }\"\n            style=\"display:inline-block;margin-right:6px\">\n          </span>\n          {{msg.payload.motion2Detected ? 'Clear' : 'Detected'}}\n          </span>\n        </div>\n      </div>\n\n    </div>\n\n    <!-- Light Level -->\n    <div class=\"sl-card sl-card-amber sl-light-card\">\n\n      <div class=\"sl-card-title\">🔆 Light Level</div>\n      <div class=\"light-status-badge\" ng-class=\"{\n         'light-night': msg.payload.isNight,\n         'light-day': !msg.payload.isNight\n       }\">\n\n        {{msg.payload.isNight ? '🌙 Night Mode' : '☀️ Day Mode'}}\n\n      </div>\n      <div class=\"sl-light-center\">\n\n        <div class=\"sl-value sl-value-amber\">\n          {{msg.payload.LDR}}\n        </div>\n\n        <div class=\"sl-unit\">/ 4095</div>\n\n        <!-- Progress Bar -->\n        <div class=\"sl-progress\" style=\"width:100%; margin-top:12px;\">\n          <div class=\"sl-progress-fill\" style=\"width:{{msg.payload.ldrPercent}}%;\">\n          </div>\n        </div>\n\n        <div class=\"sl-unit\" style=\"margin-top:12px\">\n          {{msg.payload.isNight ? 'Low Light — LEDs Active' : 'Bright — LEDs Off'}}\n        </div>\n\n      </div>\n\n    </div>\n\n\n  </div>\n\n\n  <!-- ===== THIRD ROW (CHART FULL WIDTH) ===== -->\n  <div class=\"sl-card\" style=\"margin-bottom:16px\">\n    <div class=\"sl-card-title\">📊 Live Telemetry</div>\n    <div class=\"sl-chart-container\">\n      <canvas id=\"slTelemetryChart\" class=\"sl-chart-canvas\"></canvas>\n    </div>\n    <div class=\"sl-chart-legend\">\n      <div class=\"sl-legend-item\">\n        <div class=\"sl-legend-dot\" style=\"background:#e8a838\"></div> Temp °C\n      </div>\n      <div class=\"sl-legend-item\">\n        <div class=\"sl-legend-dot\" style=\"background:#00c8c8\"></div> Humidity %\n      </div>\n      <div class=\"sl-legend-item\">\n        <div class=\"sl-legend-dot\" style=\"background:#2ed573\"></div> Current mA\n      </div>\n    </div>\n  </div>\n\n\n  <script>\n    (function(scope){\n\n  var canvas, ctx;\n\n  function init() {\n    canvas = document.getElementById('slTelemetryChart');\n    if(!canvas) return;\n\n    ctx = canvas.getContext('2d');\n  }\n\n  function drawChart(history) {\n\n    if(!history || history.length === 0) return;\n\n    if(!canvas) init();\n    if(!ctx) return;\n\n    var W = canvas.width = canvas.parentElement.clientWidth;\n    var H = canvas.height = canvas.parentElement.clientHeight;\n\n    ctx.clearRect(0,0,W,H);\n\n    var pad = {top:20,right:20,bottom:30,left:45};\n\n    var cw = W - pad.left - pad.right;\n    var ch = H - pad.top - pad.bottom;\n\n    /* Grid */\n    ctx.strokeStyle = '#252d3a';\n\n    for(let i=0;i<=5;i++){\n      let y = pad.top + (ch/5)*i;\n\n      ctx.beginPath();\n      ctx.moveTo(pad.left,y);\n      ctx.lineTo(W-pad.right,y);\n      ctx.stroke();\n    }\n\n    /* Max scale */\n    let max = 0;\n\n    history.forEach(d=>{\n      max = Math.max(max,d.TEMP,d.HUM,d.AMP_mA);\n    });\n\n    max = Math.max(max,100)*1.2;\n\n    /* Y labels */\n    ctx.fillStyle='#7f8c9b';\n    ctx.font='10px JetBrains Mono';\n    ctx.textAlign='right';\n\n    for(let i=0;i<=5;i++){\n\n      let v = (max - (max/5)*i).toFixed(0);\n      let y = pad.top + (ch/5)*i;\n\n      ctx.fillText(v,pad.left-8,y+4);\n    }\n\n    /* Lines */\n    function draw(key,color){\n\n      ctx.strokeStyle=color;\n      ctx.lineWidth=2;\n\n      ctx.beginPath();\n\n      history.forEach((d,i)=>{\n\n        let x = pad.left + (cw/(history.length-1))*i;\n        let y = pad.top + ch - (d[key]/max)*ch;\n\n        if(i===0) ctx.moveTo(x,y);\n        else ctx.lineTo(x,y);\n\n      });\n\n      ctx.stroke();\n    }\n\n    draw('TEMP','#e8a838');\n    draw('HUM','#00c8c8');\n    draw('AMP_mA','#2ed573');\n  }\n\n\n  /* Watch payload */\n\n  scope.$watch('msg.payload.history',function(val){\n\n    if(val){\n      drawChart(val);\n    }\n\n  },true);\n\n\n})(scope);\n  </script> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "98a70cc2a09df913",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
